h1 {
	text-align: center;
	font-family: "Didot", serif;
	background-color: lightpink;
	font-weight: bold;
	font-size: 75px;
	width: 100%;
	height: 250px;
	line-height: 250px;
	top: 0;
	margin: 0;
	padding: 0;
	color: #4C4F49;
}	

body {
	margin: 0;
	padding: 0;  
	font-family: "Didot", serif;
}

#carbonFtp {
	background: url("carbonFootprint.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 50vw;
	background-position: center;
}

#overpopulationSol {
	/*background: url("overpop.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;*/
}

section h2 {
	color: white;
	font-family: "Didot", serif;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 25px;
	padding: 10px;
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);
	background-color: lightpink;
}

section {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

section:nth-child(1) {
	background: url("industrialRevolution.jpg");
	background-repeat: no-repeat;
	/*background-attachment: fixed;*/
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
}

section:nth-child(2) {
	background: url("popImage.png");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	/*background-attachment: fixed;*/
}

section:nth-child(3) {
	background: url("tooMany.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	/*background-attachment: fixed;*/
}

section:nth-child(4) {
	background: url("3bil.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	/*background-attachment: fixed;*/
}

section:nth-child(5) {
	background: url("worldPop.png");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	/*background-attachment: fixed;*/
}

section:nth-child(6) {
	background: url("finiteResources.jpg");
	background-repeat: no-repeat;
	background-size: 80vw 80vh;
	/*background-attachment: fixed;*/
	background-color: white;
	background-position: center;
}

section:nth-child(7) {
	background: url("2bil.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	/*background-attachment: fixed;*/
}

section:nth-child(8) {  
	background: url("progressingTech.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	/*background-attachment: fixed;*/
}

.homeBody {
	margin: 0;
	padding: 0;
	font-family: "Didot", serif;
	background-image: url("backgroundHome2.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
}

.description {
	padding: 30px;
	font-family: "Didot", serif;
	font-size: 30px;
	color: white;
}

.nav-main {
	width: 100%;
	background-color: #4C4F49;
	height: 70px;
	color: #fff;
}

.nav-main > ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
}

.nav-main > ul > li {
	float: left;
}

.nav-item {
	display: inline-block;
	padding: 15px 20px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
}

.nav-item:hover {
	background-color: #444;
}

.nav-content {
	position: absolute;
	top: 320px;
	overflow: hidden;
	background-color: #4C4F49;
	max-height: 0;
}

.nav-content a {
	color:#fff;
	text-decoration: none;
}

.nav-content a:hover {
	text-decoration: underline;
}

.nav-sub {
	padding: 20px;
}

.nav-sub ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nav-sub ul li a {
	display: inline-block;
	padding: 5px 0;
}

.nav-item:focus ~ .nav-content {
	max-height: 400px;
	-webkit-transition: max-height 0.4s ease-in;
	-moz-transition: max-height 0.4s ease-in;
	-o-transition: max-height 0.4s ease-in;
	transition: max-height 0.4s ease-in;
}

*:focus {
	outline: none;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    font-family: "Didot", serif;
    color: white;
}

th, td {
    padding: 5px;
}

th {
    text-align: left;
    width: 50%;
}

table {
	height: 100%;
	width: 100%;
}

.tableDisc {
	margin: 30px;
	font-family: "Didot", serif;
	font-size: 25px;
	color: white;
}

.wrapper {
	text-align: center;
}

.container {
	width: 90%;
	height: 500px;
	margin: 0 auto;
	padding: auto;
	display: inline-block;
}

.left {
	width: 49%;
	height: 475px;
	float: left;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	padding-right: 1%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right {
	width: 49%;
	padding-top: 12.5px;
	padding-bottom: 12.5px;
	padding-left: 1%;
	height: 475px;
	display: flex;
	align-items: center;
	justify-content: center;
}

img {
	max-height: 100%;
	max-width: 100%;
}

#myImg:hover {
	opacity: 0.9;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 900px;
    max-height: 475px;
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.sources {
	font-family: "Didot", serif;
	font-size: 50px;
	margin: 30px;
}

.links > .pertainTo > ul > a{
	font-family: "Didot", serif;
	font-size: 25px;
	text-decoration: none;
	color: blue;
	margin-left: 100px;
	display: block;
}

.links > .pertainTo > ul > a:hover {
	text-decoration: underline;
}

.links {
	word-wrap: break-word;
}

.pertainTo > h3 {
	font-family: "Didot", serif;
	font-size: 30px;
	text-decoration: none;
	margin-left: 75px;
}

.imageCite {
	color: white;
	font-family: "Didot", serif;
	font-size: 10px;
	right: 16px;
	bottom: 8px;
  	position:relative;
  	width: 100%;
  	text-align: right;
}

.carryingCapacity {
   color: white;
   font-size: 40px;
   text-align: center;
}

.ans {
	font-family: "Didot", serif;
	color: white;
	padding-left: 5%;
	width: 95%;
	font-size: 25px;
}

.carbonFootprint {
	margin: 50px;
	padding: 15px;
	margin-top: 0;
	/*background-color: rgba(0, 0, 0, 0.5);*/
}

.carbonFootprint > p {
	font-family: "Didot", serif;
	/*color: #080072;*/
	color: black;
	font-size: 25px;
}

.actionsTook > p {
	font-family: "Didot", serif;
	color: black;
	font-size: 25px;
	margin: 50px;
}

#actionH {
	font-family: "Didot", serif;
	color: black;
	font-size: 30px;
	margin: 50px;
	padding: 15px;
	margin-top: 10px;
}

.captionWater {
	text-align: center;
	color: black;
	font-family: "Didot", serif;
	font-size: 25px;
}

.imgWrapper {
	align-content: center;
	text-align: center;
}

.caste {
	float: center;
	text-align: center;
}

.caste > p{
	font-family: "Didot", serif;
	font-size: 15px;
	color: black;
}