#title {
	text-align: center;
	font-family: "Frutiger", serif;
	background-color: lightpink;
	font-weight: bold;
	font-size: 75px;
	width: 100%;
	height: 250px;
	line-height: 250px;
	top: 0;
	margin: 0;
	padding: 0;
	color: #4C4F49;
}

body {
	margin: 0;
	padding: 0;  
	font-family: "Frutiger", serif;
}

.description {
	padding: 30px;
	font-family: "Frutiger", serif;
	font-size: 30px;
	color: white;
}

.nav-main {
	width: 100%;
	background-color: #4C4F49;
	height: 70px;
	color: #fff;
}

.nav-main > ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
}

.nav-main > ul > li {
	float: left;
}

.nav-item {
	display: inline-block;
	padding: 15px 20px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
}

.nav-item:hover {
	background-color: #444;
}

.nav-content {
	position: absolute;
	top: 320px;
	overflow: hidden;
	background-color: #4C4F49;
	max-height: 0;
}

.nav-content a {
	color:#fff;
	text-decoration: none;
}

.nav-content a:hover {
	text-decoration: underline;
}

.nav-sub {
	padding: 20px;
}

.nav-sub ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nav-sub ul li a {
	display: inline-block;
	padding: 5px 0;
}

.nav-item:focus ~ .nav-content {
	max-height: 400px;
	-webkit-transition: max-height 0.4s ease-in;
	-moz-transition: max-height 0.4s ease-in;
	-o-transition: max-height 0.4s ease-in;
	transition: max-height 0.4s ease-in;
}

*:focus {
	outline: none;
}

.wrapper {
   width: 800px;
   margin: 0 auto;
}

#graph {
   text-align: center;
   text-transform: uppercase;
   margin-top: 40px;
}

.wrapper h2 {
   text-align: left;
}

.line {
   height: 25px;
   min-width: 800px;
   margin: 0 auto 10px;
   line-height: 25px;
   font-size: 14px;
   color: white;
   padding: 0 0 0 10px;
   position: relative;
}

.line:before {
   content: '';
   width: 100%;
   position: absolute;
   left: 0;
   height: 25px;
   top: 0;
   z-index: -2;
}

.line:after {
   content: '';
   background: gray;
   height: 25px;
   transition 0.8s;
   display: block;
   width: 100%;
   animation: animate 1 4s;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
}

.line1:after {
   max-width: 76.6%;
}

.line2:after {
   max-width: 70.4%;
}

.line3:after {
   max-width: 70.2%;
}

.line4:after {
   max-width: 65%;
}

.line5:after {
   max-width: 64%;
}

.line6:after {
   max-width: 63.8%;
}

.line7:after {
   max-width: 60.4%;
}

.line8:after {
   max-width: 60%;
}

.line9:after {
   max-width: 58.6%;
}

.line10:after {
   max-width: 57%;
}

@keyframes animate {
   0% {
      width: 0;
   }

   100% {
      width: 100%;
   }
}