#title {
	text-align: center;
	font-family: "Didot", serif;
	background-color: lightpink;
	font-weight: bold;
	font-size: 75px;
	width: 100%;
	height: 250px;
	line-height: 250px;
	top: 0;
	margin: 0;
	padding: 0;
	color: #4C4F49;
}

body {
	margin: 0;
	padding: 0;  
	font-family: "Didot", serif;
}

.description {
	padding: 30px;
	font-family: "Didot", serif;
	font-size: 30px;
	color: white;
}

.nav-main {
	width: 100%;
	background-color: #4C4F49;
	height: 70px;
	color: #fff;
}

.nav-main > ul {
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
}

.nav-main > ul > li {
	float: left;
}

.nav-item {
	display: inline-block;
	padding: 15px 20px;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
}

.nav-item:hover {
	background-color: #444;
}

.nav-content {
	position: absolute;
	top: 320px;
	overflow: hidden;
	background-color: #4C4F49;
	max-height: 0;
}

.nav-content a {
	color:#fff;
	text-decoration: none;
}

.nav-content a:hover {
	text-decoration: underline;
}

.nav-sub {
	padding: 20px;
}

.nav-sub ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.nav-sub ul li a {
	display: inline-block;
	padding: 5px 0;
}

.nav-item:focus ~ .nav-content {
	max-height: 400px;
	-webkit-transition: max-height 0.4s ease-in;
	-moz-transition: max-height 0.4s ease-in;
	-o-transition: max-height 0.4s ease-in;
	transition: max-height 0.4s ease-in;
}

*:focus {
	outline: none;
}

.wrapper {
   width: 800px;
   margin: 0 auto;
}

#graph {
   text-align: center;
   text-transform: uppercase;
   margin-top: 40px;
}

.wrapper h2 {
   text-align: left;
}

.line {
   height: 25px;
   min-width: 800px;
   margin: 0 auto 10px;
   line-height: 25px;
   font-size: 14px;
   color: white;
   padding: 0 0 0 10px;
   position: relative;
   width: 0;   
}

/*.line:before {
   content: '';
   width: 0;
   position: absolute;
   left: 0;
   height: 25px;
   top: 0;
   z-index: -2;
}

.line:after {
   content: '';
   background: green;
   height: 25px;
   transition 0.8s;
   display: block;
   width: 100%;
   animation: slide 1 4s;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   opacity: 100%;
}*/

.anim:before {
   content: '';
   width: 0;
   position: absolute;
   left: 0;
   height: 25px;
   top: 0;
   z-index: -2;
}

.anim:after {
   content: '';
   background: green;
   height: 25px;
   transition 0.8s;
   display: block;
   width: 100%;
   animation: slide 1 4s;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -1;
   opacity: 100%;
}

.animR:before {
   content: '';
   width: 0;
   position: absolute;
   right: 0;
   height: 25px;
   top: 0;
   z-index: -2;
}

.animR:after {
   content: '';
   background: red;
   height: 25px;
   transition 0.8s;
   display: block;
   width: 100%;
   animation: slide 1 4s;
   position: absolute;
   top: 0;
   right: 0;
   opacity: 100%;
   z-index: -1;
}

.line1:after {
   max-width: 76.6%;
}

.line2:after {
   max-width: 70.4%;
}

.line3:after {
   max-width: 70.2%;
}

.line4:after {
   max-width: 65%;
}

.line5:after {
   max-width: 64%;
}

.line6:after {
   max-width: 63.8%;
}

.line7:after {
   max-width: 60.4%;
}

.line8:after {
   max-width: 60%;
}

.line9:after {
   max-width: 58.6%;
}

.line10:after {
   max-width: 57%;
}

@keyframes slide {
   0% {
      width: 0;
   }

   100% {
      width: 100%;
   }
}

.lineN {
   height: 25px;
   min-width: 800px;
   margin: 0 auto 10px;
   line-height: 25px;
   font-size: 14px;
   color: white;
   padding: 0 0 0 10px;
   position: relative;
   text-align: right;
   right: 0px;
   align-content: right;
}

/*.lineN:before {
   content: '';
   width: 100%;
   position: absolute;
   right: 0;
   height: 25px;
   top: 0;
   z-index: -2;
}

.lineN:after {
   content: '';
   background: red;
   height: 25px;
   transition 0.8s;
   display: block;
   width: 100%;
   animation: slide 1 4s;
   position: absolute;
   top: 0;
   right: 0;
   z-index: -1;
}*/

.line1N:after {
   max-width: 11.4%;
}

.line2N:after {
   max-width: 12.2%;
}

.line3N:after {
   max-width: 21%;
}

.line4N:after {
   max-width: 21.6%;
}

.line5N:after {
   max-width: 21.6%;
}

.line6N:after {
   max-width: 21.6%;
}

.line7N:after {
   max-width: 22%;
}

.line8N:after {
   max-width: 26%;
}

.line9N:after {
   max-width: 34.8%;
}

.line10N:after {
   max-width: 55.8%;
}

.wrapper2 {
   width: 800px;
   margin: 0 auto;
}

#descp {
   text-align: left;
}

.wrapper2 h2 {
   text-align: right;
   margin-right: 0;
   padding-right: 0;
}

.btn-expand {
   background-color: white;
   color: black;
   z-index: 1000;
   font-size: 21px;
   line-height: 21px;
} 

img {
   -webkit-transition-duration: 0.5s;
   -moz-transition-duration: 0.5s;
   -o-transition-duration: 0.5s;
   transition-duration: 0.5s;
   -webkit-transition-property: -webkit-transform;
   -moz-transition-property: -moz-transform;
   -o-transition-property: -o-transform;
   transition-property: transform;
}

.crossRotate {
   height: 15px;
   width: 15px;
}

.crossRotateN {
   height: 15px;
   width: 15px;
}

.crossRotateN:hover {
   cursor: pointer;
}

.crossRotate:hover {
   cursor: pointer;
}

.negShow {
   text-align: left;
   font-size: 20px;
}

.describe {
   text-align: left;
   padding-right: 75px;
   padding-left: 75px;
   padding-top: 15px;
   padding-right: 15px;
}

.describe > .describeSummarize {
   font-family: "Didot", serif;
   font-size: 25px;
   font-color: black;
}
